name: build

on:
  push:
    branches: [main]
  pull_request: ~
  workflow_dispatch: ~

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - run: just install lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - run: just install coverage
  brew-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - uses: Homebrew/actions/setup-homebrew@master
      # These Homebrew packages are needed since we have them as fake dependencies for some test output
      - name: Setup required Homebrew packages
        run: brew install bash gcc
      - name: Run brew audit on generated test formula
        run: just audit
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build and run Docker image
        run: |
          docker build . -t justintime50/homebrew-releaser
          docker run --workdir /github/workspace \
            -e INPUT_DEBUG=true \
            -e GITHUB_REPOSITORY=justintime50/github-actions-test \
            -e INPUT_HOMEBREW_OWNER=justintime50 \
            -e INPUT_HOMEBREW_TAP=homebrew-test \
            -e INPUT_GITHUB_TOKEN=${{ secrets.HOMEBREW_GITHUB_TOKEN }} \
            -e INPUT_COMMIT_OWNER=justintime50 \
            -e INPUT_COMMIT_EMAIL=39606064+Justintime50@users.noreply.github.com \
            -e INPUT_INSTALL=virtualenv_install_with_resources \
            -e INPUT_UPDATE_README_TABLE=true \
            -e INPUT_FORMULA_INCLUDES="include Language::Python::Virtualenv" \
            -e INPUT_DEPENDS_ON='"python@3.14"' \
            -e INPUT_UPDATE_PYTHON_RESOURCES=true \
            -e INPUT_SKIP_CHECKSUM=true \
            justintime50/homebrew-releaser
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - run: just install coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
