name: release

on:
  release:
    types: [published]
  workflow_dispatch: ~

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: '0'
      - name: Update stable git tag
        run: |
          git tag --force $STABLE_TAG ${GITHUB_REF##*/}
          git push origin --delete $STABLE_TAG
          git push origin $STABLE_TAG
        env:
          STABLE_TAG: v2
